
  <% content_for :header do -%>
    Welcome to QD Robot.
  <% end -%>

  <%= @home_page_content %>

  <div class = 'part1'>
    <h3 class = 'head'> Seekerinc Process Instructions </h3>
    <div class = 'part1-content'><%= @seekernet_content %></div>
  </div>

  <div class = 'part2'>
    <h3 class = 'head'> Transact Process Instructions </h3>
    <div class = 'part2-content'><%= @transact_content %></div>
  </div>
  <div class = 'clear'> </div>
