<% content_for :header do -%>
  Welcome to QD Robot.
<% end -%>

<p>Quick Data Robot is a flexible hosted platform where our programmers can mimic redundant activates and complex task alike.</p>

<p>We make custom program applications affordable to all!</p>

<br />
<p>Quick data robot was born in 2007 out of necessity. While working on a complex data project, we developed our first automatic data processing platform.</p> 

<br />
<p>This single framework allows companies to look at redundant task oriented jobs and cost effectively automate them. This frees up valuable resources without spending months and millions of dollars on a custom configuration.</p>

<br />
<p>“The Problem: we were acquiring data from multiple sources, processing and sending each file to end users. We then create a master file at the end of the day from these multiple sources that had variable data in each file.”</p>

<br />
<p>Quick Data Robot not only freed us from additional labor it gave our product scalability"</p>

