<% content_for :header do -%>
  Term and Conditions
<% end -%>
  <%=h @disclaimer_content %>
<% form_tag(accept_terms_session_url)  do -%>

   <p>	 Accept Terms And Conditions <%= check_box_tag 'term', 1, 0 %> </p>

	<p><%= submit_tag 'submit' %></p>

 <%end%>
