<% content_for :header do -%>
  Term and Conditions
<% end -%>
  <%=h @disclaimer_content %>
<% form_tag(accept_terms_session_url)  do -%>

	<p><%= submit_tag 'Accept' %> <%= submit_tag 'Deny' %></p>

 <%end%>
