<% content_for :header do -%>
  Terms and Conditions
<% end -%>

<% form_tag(accept_terms_session_url)  do -%>
   <%= @disclaimer_content %>
   <br />
   <p><%= submit_tag 'Agree' %> <%= submit_tag 'Disagree' %></p>
<%end%>
