<%form_tag( authentication_code_admin_dealer_path(@dealer.id), :method=>:get) do %>
<br/>
<table class ="form-table">
  <tr><th> Authentication Code :</th>
      <% if @dealer.profile.auth_code.blank? %>

      <td><%= text_field_tag "auth_code" ,'',:class => "textbox" %> </td>
      <%else%>

      <td><%= text_field_tag "auth_code" ,@dealer.profile.auth_code,:class => "textbox" %> </td>
      <%end%>
  </tr>
      </table>

  <br/>

      <%= submit_tag "save" %>

<%end%>
