<% content_for :header do -%>
 Dealers list filters.
<% end -%> 
<%=render :partial=> 'filters'%>
<br/>

<h3 class="head">  Listing all dealers. </h3>
<div id='dealer-list'>
   <%=render :partial=> 'dealers_list'%>
</div>
