<% content_for :header do -%>
  Showing Dealer
<% end -%>


<div id="tabs">
         <ul>
	        <li><a href="#tabs-1">Profile Details</a></li>
	      </ul>

         <div id="tabs-1">
            <%= render :partial => 'admin/dealers/profile_details' %>
         </div>



     </div>
