
      <br />
      <div style = "height: 1267px; width: 807px; background: url(/images/print-file/template4.jpg)" >

         <p style = "position: absolute; margin: 75px 0px 0px 150px;" >
            <%= text_field_tag 'values[dealer_details_x]',@positions['dealer_details_x'] ||'60', :class =>'textbox-thick' %>
            <%= text_field_tag 'values[dealer_details_y]',@positions['dealer_details_y'] ||'760', :class =>'textbox-thick' %>
         </p>


         <p style = "position: absolute; margin: 485px 0px 0px 715px;" >
            <%= text_field_tag 'values[address_x]', @positions['address_x'] ||'550',:class =>'textbox-thick' %>
            <%= text_field_tag 'values[address_y]', @positions['address_y'] ||'487', :class =>'textbox-thick' %>
         </p>





      </div>

