<% content_for :header do -%>
   Listing All Processed Trigger Detail.
<% end -%>

<%= link_to("<span> Process Pending Triggers</span>", run_admin_robot_url() , :class => 'button')%>
<br /><br /><br />

<%=render :partial=> 'filter'%>
<br /> <br />
<div id='trigger-list'>
   <%=render :partial=> 'trigger_details_list'%>
</div>
