 <% if super_admin? -%><%= link_to "Process", run_admin_robot_url() , :class => ('current' if request.request_uri =~ /robot/)%> <% end -%>
<% content_for :header do -%>
   Trigger Detail list.
<% end -%>
<%=render :partial=> 'filter'%>

<div id='trigger-list'>
   <%=render :partial=> 'trigger_details_list'%>
</div>
