<% content_for :header do -%>
   Displaying Print file variable value.
<% end -%> 
  <%= render :partial => "csv_print_file_fields" %>

<div class = 'part2'>
<div class = 'form-box' >
<h1 class = 'head'>  Columns to be appended to the CSV Print file. </h1><br/>
<!--
<% form_for(:csv_extra_field,:url=>dealer_print_file_field_path(@dealer.id),:method =>:post ) do |f| %>
-->
 <table class = 'form-display'>
   <% Profile::CSV_EXTRA_FIELDS.each do |field| %>
        <tr><td><%= check_box_tag("csv_extra_fields[]", "#{field}", @fields.include?("#{field}") ,:disabled =>true)%> </td><th><%=h "#{field}" %></th></tr>
    <% end %>

  </table><br/><br/>
<!--
   <%=f.submit "Save" %>

<%end%>
-->
</div>
</div>
  <div class = 'clear'> </div>
