<% form_tag("/admin/qd_profiles/assign_dealer/#{@qd_profile.id}" ,:method =>:get ) do  %>

<h3 class='head'> Assign the data to new Admin </h3>
<br /> 
<table class ="form-table" >
   <tr> <th> Select a Dealer : </th><td>
    <%= select :dealer, :id, [['Select a Dealer','']]+ Dealer.dealers_list,:selected => @qd_profile.dealer_id  %> </td></tr>

  <input id="page" name="page" type="hidden" value="<%=h @page %>" />
  <input id="per_page" name="per_page" type="hidden" value="<%=h @per_page %>" />
</table>
<br/><br/>
<%= submit_tag "Assign" %>

<%end%>
