
<% form_tag(qd_profiles_url, :method => :get) do %> <%= indicator %>
   <table class="search-table">
     <tr>
        <th> Date </th>

      <%fields_for @search do |f|%>
        <% f.fields_for @search.conditions do |p| %>
           <td> <%= calendar_date_select_tag "created_at" ,'',:class =>"textbox-small" %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <%end%>
       <%end%>
         <%= submit_tag 'Search' %>  </td>

       </tr>
  </table>
<% end %>
