<% content_for :header do -%>
   Listing Data Set for, <%= "#{current_user.profile.name} [Orders #{@header_text}]" %>
<% end -%>

<br/>

<!-- filter partail -->

<br/>

<div id='qd_profile-list'>
   <%=render :partial=> 'trigger_list'%>
</div>


