<% content_for :header do -%>
   QD Profile List Filters
<% end -%>

 <%=render :partial=> 'filters'%>
   <br/>
 <h3 class="head">  Listing QD data set </h3>
   <div id='qd_profile-list'>
     <%=render :partial=> 'qd_profiles_list'%>
  </div>
