<% content_for :header do -%>
   Listing Data Set for <%= "#{current_user.profile.name}. Orders #{@header_text}" %>
<% end -%>

<%=render :partial=> 'filters'%>
<br/>

<div id='qd_profile-list'>
   <%=render :partial=> 'qd_profiles_list'%>
</div>
