
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin : 0;
padding : 0;
border : 0;
outline : 0;
vertical-align : baseline;
}

:focus {
outline : 0;
}

body {
color : black;
background : white;
}

ol, ul {
list-style : none;
}

table {
border-collapse : separate;
border-spacing : 0;
}

caption, th, td {
text-align : left;
font-weight : normal;
}

blockquote:before, blockquote:after, q:before, q:after {
content : "";
}

blockquote, q {
quotes : "" "";
}

body {
font-size : 12px;
font-family : Verdana, Arial, "Helvetica Neue", Geneva, sans-serif;
color : #000;
background-color : #f6f6f6;
margin : 0;
padding : 0;
height : 100%;
}

a:link, a:visited {
color : #CA473E;
letter-spacing : 0.04em;
}

a:hover {
background-color : #ecf5ff;
}

input {
font-size : 1.1em;
}

input.textbox {
border : 1px solid #7d99b2;
background : #ffffff url(/images/field-top.gif) repeat-x top;
padding : 2px 2px;
width : 240px;
height : 18px;
}

input.textbox-small {
border : 1px solid #7d99b2;
background : #ffffff url(/images/field-top.gif) repeat-x top;
padding : 2px 2px;
width : 100px;
height : 18px;
}

input.textbox-thick {
border: 2px solid #3A3A3A;
background : #ffffff url(/images/field-top.gif) repeat-x top;
padding : 5px 3px;
width : 40px;
height : 17px;
color : #003769;
font-weight: bold;
text-align : center;
}

input.textbox-wide {
border : 1px solid #7d99b2;
background : #ffffff url(/images/field-top.gif) repeat-x top;
padding : 2px 2px;
width : 200px;
height : 18px;
}

input.textbox-tiny {
border : 1px solid #7d99b2;
background : #ffffff url(/images/field-top.gif) repeat-x top;
padding : 2px 2px;
width : 40px;
}

textarea {
width : 450px;
height : 80px;
border : 1px solid #7d99b2;
padding : 5px;
background : #ffffff url(/images/field-top.gif) repeat-x top;
}

select {
font : 1em Verdana, Arial, Sans-Serif;
background : #ffffff;
border : 1px solid #7d99b2;
padding : 1px 1px;
}

ul {
padding-left : 2em;
margin-left : 0;
}

#header {
background : url(/images/top_bar.png) repeat-x;
margin : 0 0 0 0;
padding : 0.1em 0 0;
height : 64px;
}

#header h1 {
float : left;
font-weight : bold;
color : #fff;
padding : 0.2em 0 0 0.5em;
margin : 0;
font-size : 19px;
}

#header h1 span {
font-size : 19px;
color : #fff;
}

#menu {
width : 480px;
margin : 0 auto;
font-weight : bold;
margin-top : 2.6em;
}

#menu ul {
margin : 0;
padding : 0;
list-style : none;
}

#menu li {
display : inline;
}

#menu a {
display : block;
float : left;
margin : 5px 5px 0 0;
padding : 3px 10px 3px;
text-decoration : none;
color : #fff;
background : url(/images/menu-sep.jpg) no-repeat right;
}

#menu a:hover {
color : #3c7bc8;
background : url(/images/menu-sep.jpg) no-repeat right;
}

#menu .current {
color : #004271;
}

#menu .current_page_item a {
background : #e8922b;
border-right : 2px solid #b24100;
border-bottom : 1px solid #b24100;
}

#global_links {
float : right;
color : #fff;
margin : 0.3em 2.1em;
}

#global_links a {
color : #fff;
font-weight : bold;
font-size : 11px;
}

#global_links a:hover {
color : #00a8c6;
background-color : #e3fdff;
}

#main {
height : 100%;
margin : 0 auto;
background : #fff;
width : 100%;
padding-top : 15px;
}

#left, #right {
float : left;
}

#left {
background-color : #fff;
width : 81%;
}

.head {
color : #62a0cc;
font-weight : bold;
background : #fff;
margin : 0 10px 0 10px;
font-size : 18px;
padding : 3px 3px 3px 5px;
}

.head a {
font-size : 13px;
color : #0064ac;
}

.head span {
font-size : 1em;
background : #fff;
}

#screen {
padding : 15px;
background : #fff;
min-height : 400px;
}
.form-box {
padding : 25px;
background : #f1f3f5;
border : 1px solid #a5bdd5;
}

div.notice {
color : #3D6D9B;
padding : 0.3em 1em;
margin : 0.1em 0.1em 1em 0;
background-color : #e4f3c7;
border : 1px solid #d6dfc6;
font-weight : bold;
}

#left #error {
color : #9f1d20;
padding : 0.7em 1em;
margin : 1em 1.5em;
background-color : #ffb7bc;
font-weight : bold;
}

#left #warning {
color : #ee9a00;
padding : 0.7em 1em;
margin : 1em 1.5em;
background-color : #fff1c0;
font-weight : bold;
}

.fieldWithErrors {
padding : 2px;
background-color : red;
display : table;
}

#errorExplanation {
width : 400px;
border : 2px solid red;
padding : 7px;
padding-bottom : 12px;
margin-bottom : 20px;
background-color : #f0f0f0;
}

#errorExplanation h2 {
text-align : left;
font-weight : bold;
padding : 5px 5px 5px 15px;
font-size : 12px;
margin : -7px;
background-color : #c00;
color : #fff;
}

#errorExplanation p {
color : #333;
margin-bottom : 0;
padding : 5px;
}

#errorExplanation ul li {
font-size : 12px;
list-style : square;
}

#right .head {
color : #204f85;
font-weight : normal;
background-color : #eaeef1;
padding : 0.4em 1em 0.4em;
margin : 0;
font-size : 1.4em;
text-align : left;
}

#right {
width : 99%;
color : #000;
padding : 0;
margin : 0 auto;
background-color : #fefefe;
border : 1px solid #e5e9ef;
}

#right p {
padding-left : 0.5em;
}

#right a {
color : #666;
}

#right a:hover {
color : #fff;
background-color : #666;
}

#right label {
font-weight : bold;
}

#right h2 {
color : #494949;
font-weight : normal;
font-size : 1.2em;
padding : 0.5em;
}

#footer {
clear : both;
margin : 0;
padding : 6px 0 6px 0;
color : #000;
font-size : 0.9em;
background : #DFDFE7;
text-align : center;
border : 1px solid #C8C8CB;
}

#footer a {
color : #205C92;
text-decoration: none;
font-size : 1em;
font-weight: bold;
}

#footer a:hover {
color : #000;
}

.pagination {
text-align : right;
padding : 3px;
margin : 3px;
}
.pagination a {
padding : 0 5px 0 5px;
margin : 2px;
border : 1px solid #aaa;
text-decoration : none;
color : #2c5ebf;
background-color : #fff;
}

.pagination a:hover, .pagination a:active {
border : 1px solid #666;
background-color : #d8e9f1;
color : #000;
}

.pagination span.disabled_page {
padding : 0 5px 0 5px;
margin : 2px;
border : 1px solid #eee;
color : #ccc;
background-color : #fff;
border : 1px solid #aaa;
}

table.listing {
border-collapse : collapse;
width : 100%;
color : #000;
border : 1px solid #92a1b0;
}

table.listing th {
background : #dcdfe6 url(/images/table-header.jpg) repeat-x top;
color : #0064AC;
text-align : left;
padding : 0.3em 0.5em 0.3em;
border : 1px solid #92a1b0;
font-weight : bold;
}

table.listing td {
padding : 0.9em 0.5em 0.8em 0.5em;
color : #000000;
border-bottom : 1px solid #92a1b0;
background : #fff;
}

table.listing tr.processed td {
background : #eff9ef;
}

table.listing tr.unprocessed td {
background : #ffffff;
}

table.listing tr th a {
color : #0064AC;
text-decoration : none;
}

table.listing a {
color : #004182;
text-decoration : none;
}

.table-footer td {
background : #eceff4;
padding : 4px;
vertical-align : middle;
}

.table-bottom {
width : 100%;
border-collapse : collapse;
border : 1px solid #92a1b0;
}

.form-table th {
background-color : #f6f6f6;
color : #004177;
padding : 0.1em 0.8em;
border : 1px solid #92a1b0;
text-align : left;
font-weight : normal;
text-align : right;
vertical-align : middle;
}

.form-table td {
background-color : #FAFAFA;
padding : 0.8em;
border : 1px solid #92a1b0;
vertical-align : middle;
}

.form-table {
border-collapse : collapse;
width : auto;
border : 1px solid #92a1b0;
margin-left : 5px;
width : auto;
}

table.form-display th {
background-color : #ffffff;
color : #27628a;
padding : 0.1em 0.8em;
border : 1px solid #ccc;
text-align : left;
vertical-align : middle;
}

table.form-display td {
background-color : #fcfdfe;
padding : 0.8em;
border : 1px solid #ccc;
}

table.form-display {
border-collapse : collapse;
width : auto;
border : 1px solid #ccc;
margin-left : 5px;
width : auto;
}

table.search-table th {
background : #fafafb;
color : #005188;
text-align : left;
padding : 0.2em 0.5em 0.2em;
border-bottom : 1px solid #b8c9da;
font-weight : bold;
}

table.search-table td {
background-color : #eceff4;
padding : 0.2em 0.5em 0.2em;
text-align : left;
}

table.search-table a {
color : #003b70;
background : #f2f4f6;
padding : 2px 4px 2px 4px;
}

table.search-table {
border-collapse : collapse;
width : 100%;
margin-top : 1em;
border : 1px solid #b8c9da;
}

.table-top td {
background : #E4E8E9;
padding : 0.3em 0.5em 0.3em 0.5em;
color : #002e4f;
font-size : 13px;
font-weight : bold;
border : 1px solid #92a1b0;
}

.form-table-full th {
font-weight : bold;
background-color : #f1f3f5;
color : #004177;
padding : 0.3em 0.8em;
border : 1px solid #ccc;
text-align : left;
vertical-align : middle;
}

.form-table-full td {
background-color : #dde1e5;
padding : 0.8em;
border : 1px solid #ccc;
}

.form-table-full {
border-collapse : collapse;
width : auto;
border : 1px solid #ccc;
margin-left : 5px;
width : 100%;
}

.part1 {
float : left;
margin : 0;
width : 48%;
color : #000;
padding : 0;
background-color : #fefefe;
}

.part1 .header {
color : #002e4f;
padding : 5px;
margin : 0;
font-size : 1.1em;
border : 1px solid #ddd;
background : #f6f7f8;
}

.part1 .part1-content {
background-color : #fff;
padding : 5px;
border-left : 1px solid #ddd;
border-right : 1px solid #ddd;
border-bottom : 1px solid #ddd;
}

.part2 {
float : left;
margin-left : 15px;
width : 48%;
color : #000;
padding : 0;
background-color : #fefefe;
}

.part2 .header {
color : #002e4f;
padding : 5px;
margin : 0;
font-size : 1.1em;
border : 1px solid #ddd;
background : #f6f7f8;
}

.part2 .part2-content {
background-color : #fff;
padding : 5px;
border-left : 1px solid #ddd;
border-right : 1px solid #ddd;
border-bottom : 1px solid #ddd;
}

.clear {
clear : both;
}

fieldset {
border : 1px solid #e5e9ef;
}

a.button {
background : transparent url('/images/bg_button_a.gif') no-repeat scroll top right;
color : #438dc2;
font-weight : bold;
display : block;
float : left;
font-size : 11px;
height : 21px;
margin-right : 6px;
padding-right : 11px;
text-decoration : none;
}

a.button span {
background : transparent url('/images/bg_button_span.gif') no-repeat;
display : block;
line-height : 11px;
padding : 5px 0 5px 13px;
}

a.button:active {
background-position : bottom right;
color : #004a8a;
outline : none;
}

a.button:active span {
background-position : bottom left;
padding : 5px 0 5px 13px;
}

a.button:hover {
background-position : bottom right;
color : #496877;
outline : none;
cursor : pointer
}

a.button:hover span {
background-position : bottom left;
padding : 5px 0 5px 13px;
}

