html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  table, caption{
margin : 0;
padding : 0;
border : 0;
outline : 0;
vertical-align : baseline;
font-size:100%;
font-style:normal;
font-weight:normal;
}
 
:focus {
outline : 0;
}
 
 
table {
border-collapse : separate;
border-spacing : 0;
}
 
caption, th, td {
text-align : left;
font-weight : normal;
}
 
blockquote:before, blockquote:after, q:before, q:after {
content : "";
}
 
blockquote, q {
quotes : "" "";
}

/*******************************************************/
body { 
	margin: 0px; 
	padding:30px 0px 0px 0px; 
	color: #5a584e; 
	font-family: Helvetica, Arial, Sans-Serif; 
	font-variant: normal; 
	font-weight: normal; 
	font-size: 13px; 
	background: url('/images/site/body.jpg') repeat-x;
	line-height: normal; 
}


/*.............................header........................*/

.header{
	width:980px;
	margin:0 auto;
	height:65px;
	padding-top:10px;
}

.header_left{
	float:left;
	width:35%;
	background:url('/images/site/logo.jpg') no-repeat left;
	padding:40px 0px 50px 142px;
}

.header_right{
	float:right;
	width:50%;
}

.left_col{width:55%;float:left;margin-top:10px;}
.right_col{width:43%;float:right;margin-top:10px;}


.header_right p{padding-left:40px;}
.header_right{font-size:18px;line-height:65px;text-align:left;color:#044771;font-family: URW Gothic L Book;}
.one{background:url('/images/site/addressbook.png') no-repeat left;}
.two{background:url('/images/site/phone.png') no-repeat left;}
.three{background:url('/images/site/contacts_folder.png') no-repeat left;}
.four{background:url('/images/site/skype_icon.jpg') no-repeat left;}


.header_left h1{
	color:#f89d0d;
	font-size:50px;
	font-weight:bold;
	letter-spacing:-2px;
	font-family:gill sans;
}

.header_left h1 span{
	color:#2073c9;
	padding-left:10px;
	font-weight:bold;
}

/*.............................layout-Image........................*/

.container{
	margin:0 auto;
	width:960px;
	min-height:550px;
	clear:both;
	padding:10px 5px 10px 10px;
}

.wrapper{width:68%;float:left;}

.btn{width:22%;float:right;margin:90px 0px 0px 30px;}

.btn a{
	font-size:25px;
	text-decoration:none;
	background: url('/images/site/btn.jpg') no-repeat;
	padding:5px 50px;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid #ddd;
}

.btn a:hover{color:#044771;}

.container h2{color:#fff;font-size:35px;margin-left:-19px;line-height:72px;  background: url(images/arrow.gif) left no-repeat;padding-left:50px;}
.container h3{color:#044771;font-size:20px;line-height:40px; margin-top:10px;font-family:URW Gothic L Book;padding-left:50px;}
.container p{font-size:16px;line-height:30px;padding-bottom:20px;}

.left_box{width:50%;float:left;margin-top:20px;background:url(images/line.jpg) repeat-y right;}
.right_box{width:45%;float:right;margin-top:20px;}

.first{background:url('/images/site/networking.png') no-repeat left;}
.second{background:url('/images/site/Email.png') no-repeat left;}
.third{background:url('/images/site/draft_versions.png') no-repeat left;}
.fourth{background:url('/images/site/document_library.png') no-repeat left;}

.clear{
	clear:both;
	height:5px;
}

/*..................footer...............................*/

#footer{
	min-height:50px;
	height:auto !important;
        height:50px;
	background-color:#e7e6e4;
	padding:0px 0px 10px 0px;
	margin-top:50px;
	border-top:2px solid #325c87;
	width:100%;
}


#footer a{
	color:#fff;
	text-decoration:none;
}

#footer a:hover{
	text-decoration:underline;
}


