
/*UI tabs*/
.ui-tabs-nav {
	/*resets*/ margin: 0; width: 98%; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	 
	 
	float: left;
	position: relative;
	z-index: 1;
	bottom: -1px;
}
.ui-tabs-nav ul {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.1; text-decoration: none; font-size: 100%; list-style: none;
}
.ui-tabs-nav li {
	/*resets*/margin: 0;  padding: 0; border: 0; outline: 0; line-height: 1.1; text-decoration: none; font-size: 100%; list-style: none;
	float: left;

	border-right: none;
}
.ui-tabs-nav li a {
	/*resets*/margin: 0; padding: 0; border-top: 1px solid #C5D4EA; border-right: 1px solid #C5D4EA; border-left: 1px solid #C5D4EA; outline: 0; line-height: 1.1; text-decoration: none; font-size: 100%; list-style: none;
	float: left;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	padding: .4em 1.7em;
	color: #205C8F;
	background: #F1F3F5; /* url(/images/tab1.png) 0 50% repeat-x;*/
}
.ui-tabs-nav li a:hover {
	color: #205C8F;
	background: #FeFeFe;
}
.ui-tabs-nav li.ui-tabs-selected {
	border-bottom-color: #fff;
    background: #fff;
}
.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-nav li.ui-tabs-selected a:hover {
	background: #fefefe;
	color: #000;
}
.ui-tabs-panel {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	clear:left;
	border: 1px solid #C5D4EA;
	background: #fefefe;
	color: #000;
	padding: .5em 1em;
}
.ui-tabs-hide {
	display: none;/* for accessible hiding: position: absolute; left: -99999999px*/;
}
