
<% form_for(:dealer_field,:url=> admin_dealer_dealer_field_path(@dealer.id),:method =>:post ) do |f| %>
<h3> Select the QD fields which can be shown to the dealer. </h3><br/>
<table class = 'form-table'>
   <% for field in QdProfile.public_attributes %>
     <tr><td> <%= check_box_tag("dealer_fields[]", field, true)%></td><th><%= field.humanize %></th></tr>
   <% end %>
</table><br/>
   <%=f.submit "Save Fields List" %>

<br/>
 <%= link_to "Cancel" , admin_dealers_url %>
<%end%>
