<h1>Listing appended_qd_profiles</h1>

<table>
  <tr>
  </tr>

<% @appended_qd_profiles.each do |appended_qd_profile| %>
  <tr>
    <td><%= link_to 'Show', appended_qd_profile %></td>
    <td><%= link_to 'Edit', edit_appended_qd_profile_path(appended_qd_profile) %></td>
    <td><%= link_to 'Destroy', appended_qd_profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New appended_qd_profile', new_appended_qd_profile_path %>