Dear <%= @dealer.profile.name %>,
<br /> <br />
<p> There is a fresh set of data ready for download. </p>

<p> No of record: <%= @total %> </p>

<%if @balance.to_i < 200 %>
  <p> Your current balance is below 200. Please re-order. </p>
<% end %>

<p>Login to QD Robot: <%= "http://#{configatron.site_url}/login" %> </p>

Best regards, <br />
------------<br />
The <%= configatron.site_name %> Team.
